<header style=" background-color: black; border-bottom: 4px solid #ff0000;">
    <!-- TOP HEADER -->
    <div id="top-header" style="padding: 15px 0; background-color: #333; ">
        <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
            <!-- Logo -->
            <div class="header-logo" style="display: flex; align-items: center;">
                <a href="/" class="logo" style="display: flex; align-items: center;">
                    <img src="./assets/images/logo.png" alt="Logo" style="max-width: 50px; margin-right: 10px;">
                </a>
                <h2 style="color: white; margin: 0; font-size: 26px; margin-left: 5px; cursor: pointer;">
                    <a href="/" style="text-decoration: none; color: white;">PujaHoy</a>
                </h2>
            </div>

            <!-- User Actions -->
            <ul class="header-links" style="display: flex; gap: 15px; align-items: center; margin: 0; padding: 0; list-style: none;">
                <li *ngIf="!loginService.isLogged()">
                    <a routerLink="/auth/login" class="btn" style="padding: 10px 20px; font-size: 16px; background-color: #ff0000; color: white;">
                        <i class="fa fa-sign-in"></i> Log in / Sign up
                    </a>
                </li>
                <li *ngIf="loginService.isLogged()">
                    <a routerLink="/auth/login" class="btn btn-primary" style="margin-right: 5px; padding: 10px 20px; font-size: 16px; ">My Account</a>
                    <button (click)="logOut()" class="btn" style="padding: 10px 20px; font-size: 16px; background-color: #ff0000; color: white;">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</header>