<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
            </ul>
            <ul class="header-links pull-right">
                <!--{{#logged}}
						<li><a style="color: white;"><i class="fa"></i> {{userName}}</a></li>
						{{/logged}}
						{{^logged}}
                    	<li><a href="/login"><i class="fa fa-sign-in"></i> Log in / Sign up</a></li>
						{{/logged}}
						<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
                        <li><a href="/user"><i class="fa fa-user-o"></i> My Account</a></li>-->
                        <a routerLink="/users" class="footer-link">My Account</a>
						<!--{{#logged}}
                    	<li><a href="/logout" onclick="return confirmLogout()"><i class="fa fa-sign-out" ></i> Log out</a></li>
                    	{{/logged}}-->
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-4">
                    <div class="header-logo">
                        <a href="/" class="logo">
                            <img src="/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->