<div class="page-container">
  <app-header></app-header>

  <ng-container *ngIf="router.url === '/'">
    <!-- Solo visible en la ruta principal -->
    <div class="landing-content" style="flex: 1;">
      <h1>PANTALLA PRINCIPAL</h1>
      <p>Contenido de la pantalla principal</p>
      <p>Contenido adicional de la pantalla principal</p>
      <p>Contenido adicional de la pantalla principal</p>
      <p>Contenido adicional de la pantalla principal</p>
      <p>Contenido adicional de la pantalla principal</p>
      <p>Contenido adicional de la pantalla principal</p>
      <p>Contenido adicional de la pantalla principal</p>
      <p>Contenido adicional de la pantalla principal</p>
      <p>Contenido de la pantalla principal</p>
      <p>Contenido adicional de la pantalla principal</p>
      <p>Contenido adicional de la pantalla principal</p>
      <p>Contenido adicional de la pantalla principal</p>
      <p>Contenido adicional de la pantalla principal</p>
      <p>Contenido adicional de la pantalla principal</p>
      <p>Contenido adicional de la pantalla principal</p>
      <p>Contenido adicional de la pantalla principal</p>
    </div>
  </ng-container>

  <div id="main-content">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>