<!--<div class="container">
    <h2 id="form-title">{{ isRegister ? 'Sign Up' : 'Login' }}</h2>
  
    <form (ngSubmit)="onSubmit()">
      <img style="max-width: 200px; margin-bottom: 15px" src="./assets/img/logo.png" />
  
      //Campos comunes para login y registro
      <input
        type="text"
        name="username"
        [(ngModel)]="userDto.username"
        placeholder="User Name"
        required
      />
      <input
        type="password"
        name="password"
        [(ngModel)]="userDto.password"
        placeholder="Password"
        required
      />
  
      //Campos adicionales para registro
      <div *ngIf="isRegister">
        <input
          type="email"
          name="email"
          [(ngModel)]="userDto.email"
          placeholder="Email"
          required
        />
        <input
          type="text"
          name="visibleName"
          [(ngModel)]="userDto.visibleName"
          placeholder="Visible Name"
          required
        />
        <input
          type="text"
          name="zipCode"
          [(ngModel)]="userDto.zipCode"
          placeholder="Zip Code"
          required
        />
        <input
          type="text"
          name="description"
          [(ngModel)]="userDto.description"
          placeholder="Description / Bio"
        />
      </div>
  
      //Botón de envío
      <button type="submit">{{ isRegister ? 'Sign Up' : 'Log In' }}</button>
    </form>
  
    //Botón para alternar entre login y registro
    <button (click)="toggleForm()">
      {{ isRegister ? 'Already have an account? Log in' : "Don't have an account? Sign up" }}
    </button>
  
    //Mensaje de error
    <div *ngIf="errorMessage" style="color: red;">
      <p>{{ errorMessage }}</p>
    </div>
  </div> -->