{{>header}}

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Edit account details</h3>
						<ul class="breadcrumb-tree">
							<li><a href="/">Home</a></li>
                            <li class="/usuario">Account</li>
							<li class="#">Edit account details</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-10">
						<!-- Account Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Account details</h3>
							</div>
							<div class="form-group order-details">
								<div class="section-title text-center">
									<h3 class="title">Upload Product Images</h3>
								</div>
								<div class="upload-container">
									<label for="product-images" class="custom-upload-btn">
										<i class="icon-upload"></i> Choose Files
									</label>
									<input type="file" id="product-images" multiple accept="image/*" hidden>
									<div id="image-preview" class="image-preview"></div>
								</div>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="first-name" placeholder="First Name">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="last-name" placeholder="Last Name">
							</div>
							<div class="form-group">
								<input class="input" type="email" name="email" placeholder="Email">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="address" placeholder="Address">
							</div>
							<div class="form-group">
								<input class="input" type="tel" name="tel" placeholder="Telephone">
							</div>
						    <div class="form-group">
							    <textarea class="input" type="desc" name="desc" placeholder="Description"></textarea>
						    </div>
                            <a href="#" class="primary-btn order-submit">Confirm</a>
						</div>
						<!-- /Account Details -->
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

{{>footer}}