.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-wrapper {
    position: relative;
    min-height: 70vh;
}

.button-container {
    bottom: 20px;
}

.image {
    text-align: center;
    margin: 40px;
}

.actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
}