<div *ngIf="user; else errorTemplate">
    <h2>{{ user.visibleName }}</h2>
    <p>{{ user.description }}</p>
    <p>{{ user.contact }}</p>
    <p>{{ user.reputation }}</p>
    <p>{{ user.zipCode }}</p>

    <div>
        <a routerLink="/your-auctions" class="footer-link">Your Auctions</a>
        <br> 
        <a routerLink="/product-form" class="footer-link">New Auction</a>
        <br>
        <a routerLink="/your-winning-bids" class="footer-link">Your Winning Bids</a>
    </div>
    

    <button routerLink="/" class="btn btn-primary">Go to Home</button>
</div>

<ng-template #errorTemplate>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
    <p *ngIf="!errorMessage">Loading...</p>
    <button routerLink="/" class="btn btn-primary">Go to Home</button>
</ng-template>