<br>
<div class="form-container">
    <h2>Create New Product</h2>
    <form (ngSubmit)="submitForm()">
      <div>
        <label for="name">Name:</label>
        <input id="name" type="text" [(ngModel)]="product.name" name="name" required />
      </div>
  
      <div>
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="product.description" name="description" required></textarea>
      </div>
  
      <div>
        <label for="iniValue">Initial Price:</label>
        <input id="iniValue" type="number" [(ngModel)]="product.iniValue" name="iniValue" required />
      </div>
  
      <div>
        <label for="duration">Duration (days):</label>
        <select id="duration" [(ngModel)]="product.duration" name="duration" required>
          <option [value]="7">7 Days</option>
          <option [value]="14">14 Days</option>
          <option [value]="30">30 Days</option>
        </select>
      </div>
  
      <div>
        <label for="image">Image:</label>
        <input id="image" type="file" (change)="onImageSelected($event)" />
      </div>
  
      <button type="submit" (click)="submitForm">Submit</button>
    </form>
  </div>
<br>