{{>header}}
		
		<!-- SECTION -->
		<div class="section">
			
			<!-- container -->
			<div class="container">
				<h2>FEATURED PRODUCTS</h2>
				<!-- row -->
				<div class="row" id="indexProduct">
					{{#productos}}
					<div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-4">
						<a href="/producto/{{id}}" class="product-link">
							<div class="product product-card">
								<div class="product-img">
									{{#imagen}}
										<img src="/producto/{{id}}/image" alt="Imagen del producto">
									{{/imagen}}
									{{^imagen}}
										<img src="/img/default-product.png" alt="Imagen no disponible">
									{{/imagen}}
									<div class="product-label">
										<span class="new">NEW</span>
									</div>
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">{{nombre}}</a></h3>
									<h4 class="product-price">{{valorini}}</h4>
									<div class="product-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
							</div>
						</a>
					</div>
					{{/productos}}
				
					{{^productos}}
					<p class="text-center">No products available</p>
					{{/productos}}
				</div>
				
				<!-- /row -->
			</div>
			<!-- /container -->
			{{#button}}
				<div class="text-center">
					<button id="load-more-index" class="btn btn-danger">Load More</button>
					<div id="spinnerIndex" class="spinner-border text-primary d-block mx-auto" role="status" style="display: none !important; visibility: hidden;">
						<span class="visually-hidden">Loading...</span>
					</div>
				</div>
			{{/button}}
		</div>
		<!-- /SECTION -->

{{>footer}}

<script>
	document.addEventListener("DOMContentLoaded", async function () {
		const response = await fetch(`/producto_template_index?page=${1}`);		
		if (response.ok) {
            const nuevosPostsHTML = (await response.text()); 
            if (nuevosPostsHTML != "") {
				console.log(nuevosPostsHTML)
                if (nuevosPostsHTML.trim() =="") {
                    document.getElementById("load-more-index").style.display = "none";
                    document.getElementById("spinnerIndex").style.visibility = "hidden";
                }
            } 
            
        }
    });
</script>