
{{#products}}
<div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-4">
	<a href="/product/{{id}}" class="product-link">
		<div class="product product-card">
			<div class="product-img">
				{{#imgURL}}
					<img src="/api/v1{{imgURL}}" alt="Product Image">
				{{/imgURL}}
				{{^imgURL}}
					<img src="/img/default-product.png" alt="Image not available">
				{{/imgURL}}
				<div class="product-label">
					
				</div>
			</div>
			<div class="product-body">
				<p class="product-category">Category</p>
				<h3 class="product-name"><a href="#">{{name}}</a></h3>
				<h4 class="product-price">{{iniValue}}</h4>
				{{#seller}}
				<div class="product-rating" data-reputation="{{reputation}}">
					<!--stars-->
				</div>
				{{/seller}}
			</div>
		</div>
	</a>
</div>
{{/products}}

