{{>header}}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<h3 class="breadcrumb-header">Account Details</h3>
				<ul class="breadcrumb-tree">
					<li><a href="/">Home</a></li>
					{{#owner}}
					<li class="active">Account</li>
					{{/owner}}
					{{^owner}}
                    {{#win}}
					<li><a href="/user">Account</a></li>
                    <li><a href="/user/seeBuys">Your winning bids</a></li>
                    {{/win}}
					{{#product}}
					<li><a href="/product/{{id}}">{{name}}</a></li>
					{{/product}}
					<li class="active">Seller</li>
					{{/owner}}
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- PROFILE SECTION -->
<div class="section container">
	{{#userInfo}}
	<div class="row gutters-sm">
		<div class="col-md-4 mb-3">
			<div class="card text-center">
				<img src="/user/{{id}}/profilePic" alt="profile Picture">
				<h4 style="margin-top: 20px;">{{visibleName}}</h4>
				<p class="text-secondary mb-1">Verified User ✔️</p>
			</div>
		</div>

		<div class="col-md-8">
			<div class="card mb-3">
				<div class="user-details-title">
					<h4>User Details</h4>
				</div>

				<div class="card-body">
					{{#banned}}
					<hr>
					<div class="row">
						<div class="col-sm-12"><strong>The user is banned</strong></div>
					</div>
					<hr>
					{{/banned}}

					{{#registered}}
					<hr>
					<div class="row">
						<div class="col-sm-3"><strong>Name</strong></div>
						<div class="col-sm-9 text-secondary">{{name}}</div>
					</div>
					<hr>
					{{/registered}}

					<hr>
					<div class="row">
						<div class="col-sm-3"><strong>User Rating</strong></div>
						<div class="col-sm-9 text-secondary">{{reputation}}</div>
					</div>
					<hr>

					<hr>
					<div class="row">
						<div class="col-sm-3"><strong>Zip Code</strong></div>
						<div class="col-sm-9 text-secondary">
							<input type="text" id="zipCode" value="{{zipCode}}" readonly
								class="form-control-plaintext">
						</div>
					</div>
					<hr>

					<hr>
					<div class="row">
						<div class="col-sm-3"><strong>Contact Info:</strong></div>
						<div class="col-sm-9 text-secondary">
							<input type="text" id="contact" value="{{contact}}" readonly
								class="form-control-plaintext">
						</div>
					</div>
					<hr>

					<hr>
					<div class="row">
						<div class="col-sm-3"><strong>Bio</strong></div>
						<div class="col-sm-9 text-secondary">
							<textarea id="description" readonly
								class="form-control-plaintext">{{description}}</textarea>
						</div>
					</div>
					<hr>

					<hr>
					<div class="row" id="profile-image-upload" style="display: none;">
						<div class="col-sm-3"><strong>New Profile Picture</strong></div>
						<div class="col-sm-9">
							<input type="file" id="new-profile-image" name="newProfileImage" class="form-control">
						</div>
					</div>
					<hr>

					{{#registered}}
					<div class="row">
						<div class="col-sm-12">
							<button id="edit-btn" class="btn btn-info">Edit</button>
							<button id="cancel-btn" class="btn btn-secondary" style="display: none;">Cancel</button>
						</div>
					</div>
					{{/registered}}
				</div>
			</div>
		</div>
	</div>

	{{#registered}}
	<h4>My Bids & Auctions</h4>
	<div class="row bids-auctions">
		<div class="col-md-4">
			<a href="/user/seeProducts">
				<div class="card text-center p-3 hover-card">
					<i class="fas fa-gavel fa-2x text-primary"></i>
					<h5>Your Auctions</h5>
				</div>
			</a>
		</div>
		<div class="col-md-4">
			<a href="/user/newProduct">
				<div class="card text-center p-3 hover-card">
					<i class="fas fa-plus-circle fa-2x text-success"></i>
					<h5>New Auction</h5>
				</div>
			</a>
		</div>
		<div class="col-md-4">
			<a href="/user/seeBuys">
				<div class="card text-center p-3 hover-card">
					<i class="fas fa-trophy fa-2x text-info"></i>
					<h5>Your Winning Bids</h5>
				</div>
			</a>
		</div>
	</div>
	{{/registered}}

	{{#admin}}
	<div class="text-left mt-3 profile">
		<form action="/user/{{id}}/ban" method="post">
			{{#banned}}
			<button type="submit" class="btn btn-danger">Unban User</button>
			{{/banned}}
			{{^banned}}
			<button type="submit" class="btn btn-danger">Ban User</button>
			{{/banned}}
			<input type="hidden" name="_csrf" value="{{token}}" />
		</form>
	</div>
	{{/admin}}
	{{/userInfo}}
</div>

{{>footer}}

<script>
	document.getElementById("edit-btn").addEventListener("click", function () {
		document.getElementById("contact").readOnly = false;
		document.getElementById("description").readOnly = false;
		document.getElementById("zipCode").readOnly = false;
		document.getElementById("profile-image-upload").style.display = "block";
		document.getElementById("edit-btn").textContent = "Save";
		document.getElementById("edit-btn").classList.remove("btn-info");
		document.getElementById("edit-btn").classList.add("btn-success");

		document.getElementById("cancel-btn").style.display = "inline-block";

		document.getElementById("edit-btn").addEventListener("click", function () {
			const form = document.createElement("form");
			form.setAttribute("action", "/user");
			form.setAttribute("method", "POST");
			form.setAttribute("enctype", "multipart/form-data");

			const idInput = document.createElement("input");
			idInput.setAttribute("type", "hidden");
			idInput.setAttribute("name", "id");
			idInput.value = "{{id}}"; 
			form.appendChild(idInput);

			const contactInput = document.createElement("input");
			contactInput.setAttribute("type", "hidden");
			contactInput.setAttribute("name", "contact");
			contactInput.value = document.getElementById("contact").value;
			form.appendChild(contactInput);

			const descriptionInput = document.createElement("input");
			descriptionInput.setAttribute("type", "hidden");
			descriptionInput.setAttribute("name", "description");
			descriptionInput.value = document.getElementById("description").value;
			form.appendChild(descriptionInput);

			const zipCodeInput = document.createElement("input");
			zipCodeInput.setAttribute("type", "hidden");
			zipCodeInput.setAttribute("name", "zipCode");
			zipCodeInput.value = document.getElementById("zipCode").value;
			form.appendChild(zipCodeInput);

			// csrf token
			const csrfToken = document.createElement("input");
			csrfToken.setAttribute("type", "hidden");
			csrfToken.setAttribute("name", "_csrf");
			csrfToken.value = "{{token}}"; 
			form.appendChild(csrfToken);


			const imageInput = document.getElementById("new-profile-image");
			if (imageInput.files.length > 0) {
			const file = imageInput.files[0];
			if (file.type.startsWith("image/")) {
				const fileInput = document.createElement("input");
				fileInput.setAttribute("type", "file");
				fileInput.setAttribute("name", "profilePic");
				fileInput.files = imageInput.files;
				form.appendChild(fileInput);
			} else {
				alert("Please select a valid image file.");
				window.location.reload();
			}
		}
			document.body.appendChild(form);
			form.submit();
		});
	});

	document.getElementById("cancel-btn").addEventListener("click", function () {
		window.location.reload(); 
	});
</script>