{{>header}}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="breadcrumb-header">YOUR PRODUCTS</h3>
				<ul class="breadcrumb-tree">
					<li><a href="/">Home</a></li>
					<li class="active"><a href="/user">Account</a></li>
					<li class="active">Your products</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			

			<!-- STORE -->
			<div class="row" id="yourProdsRow">
				<!-- product -->
				{{#products}}
				<div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-4">
					<a href="/product/{{id}}" class="product-link">
						<div class="product product-card">
							<div class="product-img">
								{{#image}}
									<img src="/product/{{id}}/image" alt="Product Image">
								{{/image}}
								{{^image}}
									<img src="/img/default-product.png" alt="Image not available">
								{{/image}}
								<div class="product-label">
									
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">{{name}}</a></h3>
								<h4 class="product-price">{{iniValue}}</h4>
								<div class="product-rating">
								</div>
							</div>
						</div>
					</a>
				</div>

				{{/products}}
			
				{{^products}}
				<p class="text-center">No products Available</p>
				{{/products}}
				<!-- /product -->
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
	{{#button}}
	<!-- store bottom filter -->
	<div class="text-center" id>
		
		<button id="load-more-yposts" class="btn btn-danger loadb">Load More</button>
		<div id="spinnerY" class="spinner-border text-primary d-block mx-auto" role="status" style="display: none !important; visibility: hidden;">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
	{{/button}}
</div>
<!-- /SECTION -->

{{>footer}}

<script>
	document.addEventListener("DOMContentLoaded", async function () {
		const response = await fetch(`/user/product_template?page=${1}`);		
		if (response.ok) {
            const newPostsHTML = (await response.text()); 
            if (newPostsHTML != "") {
				
                if (newPostsHTML.trim() =="") {
                    document.getElementById("load-more-yposts").style.display = "none";
                    document.getElementById("spinnerY").style.visibility = "hidden";
                } else {
					document.getElementById("load-more-yposts").style.display = "inline";
				}
            } 
            
        }
    });
</script>