{{>header}}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb-tree">
					<li><a href="#">Home</a></li>
					<li><a href="#">Account</a></li>
					<li><a href="#">Your product</a></li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<h2>YOUR PRODUCTS</h2>
		<!-- row -->
		<div class="row">
			

			<!-- STORE -->
			<div id="store" class="col-md-12">

				<!-- store products -->
				<div class="row" id="yourProdsRow">
					<!-- product -->
					{{#productos}}
					<div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-4">
						<a href="/producto/{{id}}" class="product-link">
							<div class="product product-card">
								<div class="product-img">
									{{#imagen}}
										<img src="/producto/{{id}}/image" alt="Product Image">
									{{/imagen}}
									{{^imagen}}
										<img src="/img/default-product.png" alt="Image not available">
									{{/imagen}}
									<div class="product-label">
										<span class="new">NEW</span>
									</div>
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">{{nombre}}</a></h3>
									<h4 class="product-price">{{valorini}} <del class="product-old-price">{{valorini}}</del></h4>
									<div class="product-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
							</div>
						</a>
					</div>

					{{/productos}}
				
					{{^productos}}
					<p class="text-center">No products Available</p>
					{{/productos}}
					<!-- /product -->
				</div>
				<!-- /store products -->

				
				{{#button}}
						<!-- store bottom filter -->
						<div class="text-center">
							<button id="load-more-yposts" class="btn btn-danger">Load More</button>
							<div id="spinnerY" class="spinner-border text-primary d-block mx-auto" role="status" style="display: none !important; visibility: hidden;">
								<span class="visually-hidden">Loading...</span>
							</div>
						</div>
				{{/button}}
				
				<!-- /store bottom filter -->
			</div>
			<!-- /STORE -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

{{>footer}}